body {
  font-family:monospace;
  background:#222;
}

.codesBox {
  width: 400px;
  padding: 25px;
  border: 1px solid white;
  margin: 30px;
  flex: 1 1 400px;
  color: white;
  background: #222;
}
#results, #pinned {
  padding: 25px;
  margin: 30px;
}

.resultsBox, .pinnedBox {
  border: 1px solid white;
  background: #222;
  color:white;
}
  .list {
    font-size:1.2em;
    display:flex;
    flex-wrap: wrap;
  }
  .list span {
    margin-bottom:10px;
  }
  button {
    padding:5px;
    background:#222;
    border:1px solid white;
    color:white;
    transition:background 0.5s, color 0.5s;
  }
  button:hover {
    background: white;
    color:#222;
    transition:background 0.5s, color 0.5s;
  }
  input {
    padding: 5px;
    background:#222;
    color:white;
  }
  input::placeholder {
    color:white;
    opacity:0.7;
  }
  #codes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #input, #pref {
    padding:25px;
  }
  .desc, .descDisplay {
    flex-basis:70%;
  }
  .code, .codeDisplay {
    min-width:100px;
    max-width:300px;
    flex-basis:30%;
  }
  #results .codeDisplay, #pinned .codeDisplay {
    min-width:100px;
    max-width:300px;
    flex-basis: 30%;

  }
  #results .pinBut, #pinned .pinBut {
    margin-right:10px;
  }
  #pref {
    float: right;
  }
.pinnedButton {
  background: #77dd77;
  color:white;
}
