body {
  font-family:monospace;
}
.body-dark {
  background:#222;
}
.codesBox {
width: 400px;
padding: 25px;
border: 1px solid #222;
margin: 30px;
flex: 1 1 400px;
color: #222;
background:white;

}
.codesBox-dark {
  width: 400px;
  padding: 25px;
  border: 1px solid white;
  margin: 30px;
  flex: 1 1 400px;
  color: white;
  background: #222;

}
#results, #pinned {
padding: 25px;
margin: 30px;
}
.resultsBox, .pinnedBox{
  border: 1px solid #222;
  background:white;

}
.resultsBox-dark, .pinnedBox-dark {
  border: 1px solid white;
  background: #222;
  color:white;

}

  .list {
    font-size:1.2em;
    display:flex;
    flex-wrap: wrap;
  }
  .list span {
    margin-bottom:10px;
  }
  button {
    padding:5px;
    background-color:white;
    border:1px solid #222;
    transition:1s;
  }
  button:hover {
    background-color:#222;
    color:white;
  }
  .but-dark {
    padding:5px;
    background-color:#222;
    border:1px solid white;
    color:white;
  }
  .but-dark:hover {
    background-color: white;
    color:#222;
  }
  input {
    padding: 5px;

  }
  #codes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #input, #pref {
    padding:25px;
  }
  .desc, .descDisplay {
    flex-basis:70%;
  }
  .code, .codeDisplay {
    min-width:100px;
    max-width:300px;
    flex-basis:30%;
  }
  #results .codeDisplay, #pinned .codeDisplay {
    min-width:100px;
    max-width:300px;
    flex-basis: 30%;

  }
  #results .pinBut, #pinned .pinBut {
    margin-right:10px;
  }
  #pref {
    float: right;
  }
  .input-dark {
    background:#222;
    color:white;
  }
  .input-dark::placeholder {
    color:white;
    opacity:0.7;
  }
.pinnedButton {
  background: #77dd77;
  color:white;
}
